# example to show required environment variables. 
# You need to create a .env file based on this.

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DB=breco
MYSQL_USER=breco_user
MYSQL_PASSWORD=breco_password

# Backend
JWT_SECRET=votre_secret_jwt_tres_securise_ici

# Email (Mailhog)
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_FROM=noreply@breco.fr

# Docker
DOCKER_USERNAME=local

# Frontend
VITE_API_URL=http://localhost:8081/api
FRONTEND_URL=http://localhost:5173

# CORS
CORS_ORIGIN=http://localhost:3001  

# PORT SSH VPS
vps_ssh_port=numero_de_port

# MONITORING
GRAFANA_PASSWORD=le_password