@import "tailwindcss";

@theme {
  --color-primary-light: #00c4f0;
  --color-primary-text: #005a7e;
  --color-primary-dark: #006a94;
  --color-primary-dark-on: #025779;
  --color-action: #00d5a7;
  --color-action-on: #01c399;
  --color-white-dark: #f5f5f5;
  --color-white-back: #eeeeee;
  --color-gray-light: #888;
  --color-gray-dark: #474747;
  --color-green: #418600;
  --color-red: #f32c21;

  --spacing-default: 20px;

  --shadow-window: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Baloo 2', sans-serif;
}

a,
button {
  cursor: pointer;
}


a {
  color: var(--color-primary-text);
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 0px;
}
a:hover {
  color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-primary-light);
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


main.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
